<section id="mi-habilidad">
    <div class="container text-center">
    <div class="row">
       <div class="col mt-5">
          <h3 style="background-color: aqua;"><strong>Habilidades</strong></h3>
          <div class="progress-circle-container">
             <div class="progress-circle progress-1"><span>1</span></div>
             <div class="progress-circle progress-2"><span>2</span></div>
             <div class="progress-circle progress-3"><span>3</span></div>
             <div class="progress-circle progress-4"><span>4</span></div>
          </div>
       </div>
    </div>
    </div>
 </section>
