<section id="mi-habilidad">
    <div class="container text-center">
    <div class="row">
       <div class="col mt-5">
          <h3 style="background-color: aqua;"><strong>Habilidades</strong></h3>
          <div class="progress-circle-container">
             <div class="progress-circle progress-50"><span>HTML</span></div>
             <p>HTML</p>
             <div class="progress-circle progress-2"><span>CSS</span></div>
             <p>CSS</p>
             <div class="progress-circle progress-3"><span>Bootstrap</span></div>
             <p>Bootstrap</p>
             <div class="progress-circle progress-4"><span>Git</span></div>
             <p>Git</p>
          </div>
       </div>
    </div>
    </div>
 </section>
