<section id="sobre-mi">
    <div class="container text-fluid">
       <div class="row">
          <div class="col-3">
             <img src="assets/IMG/victor.jpg" class="rounded-circle w-75 mt-4" alt="yo" title="Datos">
             <h5>{{ nombre }}</h5>
             <h5>{{ apellido }}</h5>
          </div>
          <div class="col-9 mt-5">
             <h3 style="background-color: aqua;"><strong>Full Stack Developer Jr.</strong></h3>
             <p>{{ sobre_mi }}
             </p>
          </div>
       </div>
    </div>
 </section>
