<!--banner-->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
       <div class="carousel-item active">
          <img src="assets/IMG/antepasados.jpg" class="d-block w-100" alt="yo">
          <div class="carousel-caption d-none d-md-block">
             <a class="btn btn-primary" href="#sobre-mi" role="button">Sobre mi</a>
          </div>
       </div>
       <div class="carousel-item">
          <img src="assets/IMG/experiencia.jpg" class="d-block w-100" alt="exp">
          <div class="carousel-caption d-none d-md-block">
             <a class="btn btn-primary" href="#mi-experiencia" role="button">Experiencia</a>
          </div>
       </div>
       <div class="carousel-item">
          <img src="assets/IMG/educación.jpg" class="d-block w-100" alt="ed">
          <div class="carousel-caption d-none d-md-block">
             <a class="btn btn-primary" href="#mi-educacion" role="button">Educación</a>
          </div>
       </div>
       <div class="carousel-item">
          <img src="assets/IMG/habilidades (1).jpg" class="d-block w-100" alt="ed">
          <div class="carousel-caption d-none d-md-block">
             <a class="btn btn-primary" href="#mi-habilidad" role="button">Habilidades</a>
          </div>
       </div>
       <div class="carousel-item">
          <img src="assets/IMG/proyectos.jpg" class="d-block w-100" alt="project">
          <div class="carousel-caption d-none d-md-block">
             <a class="btn btn-primary" href="#mis-proyectos" role="button">Proyectos</a>
          </div>
       </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
 </div>
