/*config iconos redes*/
i.fa-brands.fa-square-facebook.fa-xl,
i.fa-brands.fa-square-whatsapp.fa-xl,
i.fa-brands.fa-linkedin.fa-xl,
i.fa-brands.fa-square-instagram.fa-xl,
i.fa-solid.fa-user-lock.fa-xl,
i.fa-brands.fa-square-github.fa-xl,
i.fa-solid.fa-user.fa-xl{
    color: rgb(15, 14, 14);
}
i.fa-brands.fa-square-facebook.fa-xl:hover{
    color: blue;
    transition:0.3s ease-in-out;
    transform: scale(1.50);
}
i.fa-brands.fa-square-whatsapp.fa-xl:hover{
    color: green;
    transition:0.3s ease-in-out;
    transform: scale(1.50);
}
i.fa-brands.fa-linkedin.fa-xl:hover{
    color: rgb(30, 129, 191);
    transition:0.3s ease-in-out;
    transform: scale(1.50);
}
i.fa-brands.fa-square-instagram.fa-xl:hover{
   color: rgb(136, 36, 99);
   transition:0.3s ease-in-out;
   transform: scale(1.50);
}
i.fa-solid.fa-user-lock.fa-xl:hover{
    color:rgb(49, 243, 236);
    transition:0.3s ease-in-out;
    transform: scale(1.50);
}
i.fa-brands.fa-square-github.fa-xl:hover{
    color:black;
    transition:0.3s ease-in-out;
    transform: scale(1.50);
}
.list-group{
    --bs-body-bg: transparent;
    --bs-border-color: transparent;
}