<section id="mi-educacion">
    <div class="container text-center" >
      <h2 style="background-color: aqua;"><strong>Educacion Personal</strong></h2>
       <div class="row" *ngFor="let educacion of educaciones">
         <div class="col-3">
            <img [src]="educacion.img" class="rounded-circle w-75 mt-4" alt="yo" title="Datos">
         </div>
         <div class="col 9 mt-5">
            <h4>{{educacion.nivel}}</h4>
            <p><strong>{{educacion.informacion}}</strong></p>
            <p><strong>Periodo de estudio: {{educacion.inicio}}, hasta {{educacion.fin}}.</strong></p>
         </div>
       </div>
    </div>
 </section>
