/* You can add global styles to this file, and also import other style files */
body{
    
    background-image: url(./assets/IMG/cholita.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
